
.myTabClass {
  position: absolute;
  width: 80rem;
  height: 49.3rem;
  left: 0px;
  right: 0px;
  top: 5rem;
  background: #f1f1f1;
  mix-blend-mode: normal;
}
.buttonStyle {
  color: #ffffff;
  height: 2.812rem;
  width: 28.12rem;
  font-family: Lato;
  margin-top: 1.75rem;
  background: #ed5901;
}
.buttonLabelStyle{
  color: #ffffff;
  font-family: Lato;
  
}
.textInpuBox {
  height:2.5rem;
  width:28rem;
  border-radius: 0.187rem;
  margin-bottom:0.562rem;
}
.buttonStyleGlobal{
  font-family: Lato;
  bottom: 1rem;
}
.titleTag-C {
  margin-bottom: 0.562rem;
  margin-top: 1.87rem;
  text-align: left;
  font-family: Lato;
  font-size: 0.9375rem;
  margin-left: 0ch;
  /* identical to box height */
  color: rgba(10, 9, 9, 0.6);
}
.headTag {
  position: absolute;
  width: 26.5625rem;
  height: 2.6875rem;
  left: 27.375rem;

  font-family: Lato;
  font-weight: bold;
  font-size:2.25rem;
  text-align: center;
  border-width: 0.0625rem;
  color: #0a0909;
}
.myTabClass-c {
  position: absolute;
  width: 80rem;
  height:56.25rem;
  left: 0px;
  right: 0px;
  top: 5.625rem;
  background: #f1f1f1;
}
.errorStyle {
    color: #ED5901;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    text-align: start;
    font-family: Lato;
}
.errorStyleCountry {
    color: #ED5901;
    margin-top: 0.2rem;
    text-align: start;
    font-size: 0.75rem;
}
.error-content {
justify-content: flex-start;
top: 20%;
}
.genderDesign {
top: 10rem;
}
.navBarstyle{
    display: flex;
    background: #2e4b64;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.75rem;
    padding-bottom: 1.3rem;
  }
  .toppaddingstyle {
    padding-top: 0.9375rem;
  }
  .flexContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navBarLabelCount {
    color: rgba(255, 255, 255, 0.7);
    font-family: Lato;
    font-size: 1rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.875rem;
    padding-bottom: 0.1875rem;
    border-radius: 0.9375rem;
    background-color: #28435a;
  }
  .navBarLabelActive {
    color: #FFFFFF;
    font-family: Lato;
    margin-right: 6.875rem;
    font-size: 0.9375rem;
    margin-left: 10px;
  }
  .navBarLabelCountPersonal {
    color: #ffffff;
    font-family: Lato;
    font-size: 1rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    justify-content: center;
    width: 1.875rem;
    border-radius: 0.9375rem;
    background-color: #ed5901;
  }
  .navBarLabel {
    color: rgba(255, 255, 255, 0.7);
    font-family: Lato;
    margin-right: 6.875rem;
    font-size:  0.9375rem;
    margin-left:0.625rem;
  }
  .navBarTrack {
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.875rem;
    border-radius: 0.9375rem;
    background-color: #28435a;
  }